<!DOCTYPE html>
<html class="animated" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <meta name="viewport" content="width=device-width, height=device-height, intial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
